[tool.poetry]
name = "autoblocksai"
# The version is not maintained here. It's set in the release workflow via the version input.
version = "0.0.0"
description = ""
authors = ["Autoblocks Engineering <engineering@autoblocks.ai>"]
license = "MIT"
readme = "README.md"
packages = [{include = "autoblocks"}]

[tool.poetry.dependencies]
python = "^3.8.1"
httpx = "^0.24.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.3.3"
pytest = "^7.4.0"
pytest-httpx = "^0.22.0"
langchain = "0.0.277"

[tool.poetry.scripts]
e2e = "e2e.run:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120

[tool.ruff]
select = ["E", "F", "I001"]
line-length = 120

[tool.ruff.isort]
force-single-line = true
known-first-party = ["autoblocks"]
